extends layouts/main-layout.pug

block content

        header
            nav.nav.container
                h1.text-display-3 KindeAuth
                div
                    a.btn.btn-ghost.sign-in-btn(href='/login') Sign in
                    a.btn.btn-dark(href='/register') Sign up
        main
            .container
                .card.hero
                    p.text-display-1.hero-title Let&apos;s start authenticating
                    p.text-display-1.hero-title  with KindeAuth
                    p.text-body-1.hero-tagline Configure your app
            
            // Add test buttons
            .card.test-section
                h2.text-heading-2 Test Functionality
                a.btn.btn-light(href='/test-protected') Test Protected Route
                a.btn.btn-light(href='/verify-jwt') Test JWT Verification
